<%- include('../include/header.ejs') %>  
</head>
    <%- include('../include/navbar.ejs') %>  
    <main>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-4  mt-4">
                    <% if(errors && errors['token']){ %> 
                        <div class="bg-danger text-white py-3 px-4"><%= errors['token'].message %></div>
                    <% } %> 
                    <form class="p-4 bg-light" action="/set-password" method="POST">
                        <input type="hidden" name="_token" value="<%= token %>" />
                        <input type="hidden" name="userId" value="<%= userId %>" />
                        <div class="mb-3">
                            <label for="password" class="form-label">Password <strong class="text-danger text-md">*</strong></label>
                            <input type="password" class="form-control <% if(errors && errors['password']){ %> is-invalid <% } %>" name="password" id="password" >
                            <% if(errors && errors['password']){ %> 
                                <div class="is-invalid"><%= errors['password'].message %></div> 
                            <% } %> 
                        </div>
                        <div class="mb-3">
                            <label for="new_password" class="form-label">New Password <strong class="text-danger text-md">*</strong></label>
                            <input type="password" class="form-control <% if(errors && errors['new_password']){ %> is-invalid <% } %>" name="new_password" id="new_password" >
                            <% if(errors && errors['new_password']){ %> 
                                <div class="is-invalid"><%= errors['new_password'].message %></div>
                            <% } %> 
                        </div>
                        <div class="mb-3">
                            <label for="confirm_password" class="form-label">Confirm Password <strong class="text-danger text-md">*</strong></label>
                            <input type="password" class="form-control <% if(errors && errors['confirm_password']){ %> is-invalid <% } %>" name="confirm_password" id="confirm_password" >
                            <% if(errors && errors['confirm_password']){ %> 
                                <div class="is-invalid"><%= errors['confirm_password'].message %></div>
                            <% } %> 
                        </div>
                        <button type="submit" class="btn btn-primary">Change Password</button>
                        <% if(errors && errors['token']){ %> 
                            <a class="d-block my-4" href="/reset">Token Expired! Reset password again!</a>
                        <% } %> 
                    </form>
                    <hr />
                    <div class="d-flex flex-column justify-content-center align-items-center">
                       
                        <a class="d-block mb-2" href="/login">I want to try login again.</a>
                        <a class="d-block mb-4" href="/register">New around here? Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%- include('../include/footer.ejs') %>  